* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fffafa;
}

.content {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    background-color: #d3d2d2;
    
    
}

.content h1 {
    margin: 0;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
        min-height: 100vw;
    }
    
}

